
/* Poner un color de fondo en toda la página */
body {
    background-color: lightgray;
}

h1 + div{
    background-color: lightskyblue;
}

div p {
    background-color: tomato;
}

/* Opacidad */

#opacidad div{
    background-color: green;
    text-align: center;
    padding: 25px;
}

#opacidad div {
    opacity: 1;
}
#opacidad div + div {
    opacity: 0.7;

}#opacidad div + div + div {
    opacity: 0.35;
    
}#opacidad div + div + div + div {
    opacity: 0.1;
}