#serif p:first-child {
font-family: 'Times New Roman', Times, serif;
}

#serif p:nth-child(2) {
    font-family: Georgia;
}

#serif p:last-child {
    font-family: Garamond;
}

#sans-serif p:first-child {
    font-family: Arial, Helvetica, sans-serif;
}

#sans-serif p:nth-child(2) {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sans-serif p:last-child {
    font-family: Helvetica, sans-serif;
}

#monospace p:first-child {
    font-family: 'Courier New', Courier, monospace;
}

#monospace p:nth-child(2) {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#monospace p:last-child {
    font-family: "Monaco";
}

#cursive p:first-child {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#cursive p:last-child {
    font-family: "Lucida Handwriting";
}

#fantasy p:first-child {
    font-family: "Cooperplate";
}

#fantasy p:last-child {
    font-family: "Papyrus";
}