.menu-vertical{
    border: 1px solid black;
    padding: 3px;
    width: 200px;
    display: flex;
    flex-direction: column-reverse;
    /*align-items: end;*/
    
    
}
.boton-mv{
    border: 2px solid cornflowerblue;
    text-align: center;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*width: 40%;*/
    
}