* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

    /*PONEMOS TAMBIEN SAN SERIF PARA ASEGURAR*/
    font-family: "Roboto", sans-serif;
}

#site-header nav ul {
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    margin: 10px;
}

#site-header>nav>ul>li {
    position: relative;
    margin: 0 20px;
}

#site-header nav ul li>i {
    color: orange;
    position: absolute;
    bottom: 130%;
    opacity: 0;
    left: 45%;
    transition: all 0.25s;
}

#site-header nav ul li>a:hover+i {
    bottom: 95%;
    opacity: 1;
}

#site-header nav ul li ul {
    position: absolute;
    top: 100%;
    width: 100%;
    right: -11px;
    padding-top: 10px;
    display: none;
}

#site-header nav>ul li:hover ul {
    display: block;
}

span {
    background-color: orange;
    cursor: pointer;
}

span:hover {
    background-color: white;
    transition: background-color 1s;
}

#icono {
    width: 60px;
}

/* Revisa desde las marcas cómo funciona translate */

#index-main article i {
    margin-left: 10px;
    color: orange;
    translate: 0px;
    opacity: 1;
}

#index-main article p:hover {
    color: orange;
    opacity: 0.8s;
}

#index-main article p:hover i {
    transition: translate 1s, opacity 1s;
    translate: 40px;
    opacity: 0;
}

/* Hasta aquí */

/* METO PADDING AL HEADER*/

#site-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 0 10%;
}

a {
    color: black;
}

/*EL MISMO PADDING QUE AL HEADER SE LO METO AL MAIN*/

#index-main {
    padding: 50px 10%;
}

#index-main h1 {
    /* text-align: center; NO ESTA CENTRADO*/
    font-size: 4rem;

    /*AÑADO PADDING VERTICAL*/

    padding: 50px 0;
}

video,
img {
    width: 100%;
}

section {
    margin: 20px;
}

.al-lado {
    display: flex;
    flex-wrap: wrap;
}

/* EL MARGIN BOTTOM A TODOS LOS ARTICULOS, QUE PILLE EL DE ARRIBA TAMBIEN*/

#index-main section article {
    margin-bottom: 30px;
}

.al-lado article {
    width: 50%;
    /* margin-bottom: 30px; */
}

#index-main section .al-lado article a div p:hover {
    color: orange;
}

#index-main section>div:last-child {
    text-align: center;
    padding: 50px 0;
}

#index-main section .proyecto {
    display: inline-block;
    border: 2px solid black;
    padding: 15px 10px;
    margin: auto;
}

.proyecto:hover {
    background-color: black;
    color: orange;
    transition: 1s;
}

/* FOOTER */
#site-footer {
    background-color: rgb(32, 32, 32);
    text-align: center;
}

#site-footer a {
    color: lightgray;
    padding: 20px;
}

#site-footer p {
    color: darkgrey;
}


#site-footer div {
    display: flex;
    justify-content: center;
}
/* FOOTER HASTA AQUÍ */

#fa-brands:hover {
    color: orange;
}


/* PÁGINA NOSOTROS 1 */
#sobre-main .nosotros1,
#proyectos-main section:first-child {
    padding: 40px;
}

#sobre-main section h1,
#proyectos-main section h1 {
    color: orange;
    margin-bottom: 50px;
    font-size: 2.5rem;
}

#sobre-main .parrafo {
    display: flex;
    justify-content: space-between;
}

#sobre-main div p {
    width: 45%;
}

#sobre-main section:nth-child(1),
#proyectos-main section:first-child {
    background-color: rgb(32, 32, 32);
    color: white;
}

#sobre-main div p:nth-child(1),
#proyectos-main section:first-child {
    font-weight: 500;
    border-bottom: 2px solid orange;
    color: darkgray;
}

/*NOSOTROS 1 HASTA AQUÍ*/

/*NOSOTROS 2*/
.nosotros2 img {
    width: 100%;
    margin: 30px 0;
}

.nosotros2 h2 {
    font-size: 2rem;
    padding: 30px;
}

/*NOSOTROS 2 HASTA AQUÍ*/

/*NUESTROS VALORES*/

#sobre-main .valores div {
    width: 20%;
}

#sobre-main .nosotros3 .valores {
    display: flex;
    justify-content: space-around;
    text-align: justify;
}

#sobre-main .nosotros3 h2 {
    margin: 30px;
}
#sobre-main .nosotros3 .valores

#sobre-main .nosotros3 div i {
    color: orange;
    font-size: 1.5rem;
}

/* Proyectos desde aquí */

section .al-lado article a div i {
    color: orange;
    position: absolute;
    bottom: 130%;
    opacity: 0;
    left: 45%;
    transition: all 0.25s;
}

/* ASIDE */
#site-aside {
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
    padding: 100px 10%;
    display: none;
}

#site-aside p {
    margin: 30px;
}

#site-aside input {
    padding: 13px;
    border: none;
    background-color: orange;
    font-size: 1.2rem;
    cursor: pointer;
}
/* ASIDE HASTA AQUÍ */

.active {
    border-bottom: 2px solid orange;
}