* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#site-header {
    background-color: rgb(110, 61, 96);
}

#site-header #site-nav a {
    color: aliceblue;
    margin: 10px;
}

#site-header #site-nav {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.m {
    border: 2px solid white;
    padding: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.borde{
    padding: 10px;
    border-bottom: 2px solid white;
}

#site-header h1 {
    color: white;
    text-align: center;
    font-weight: 400;
    margin: 30px;
}
#site-header .linea{
    border-bottom: 1px solid white;
    width: 150px;
}
#site-title {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#site-main {
    display: flex;
    flex-wrap: wrap;
    padding: 80px;
}

#site-main img {
    margin: 15px;
    width: 30%;
}



#site-footer {
    background-color: rgb(51, 51, 51);
    height: 300px;
    padding: 20px;
    display: flex;
}

#site-footer a {
    color: white;
}
#site-footer div a{
    padding: 10px;
}

p {
    margin: 20px 10px;
    color: white;
}